<%= form_with model:[board, post] do |f| %>
  <div class="form-group">
    <label>答え</label><span class="attention ml-2">必須!</span>
    <%= f.text_area :content, rows:'3', class:"form-control", placeholder: "100文字以内" %><br>
    <%= f.label :image, class: "image_input_btn" do %>
      <%= f.file_field :image, accept: "image/*", class: "image-form" %>画像も投稿　<i class="fas fa-camera"></i>
    <% end %>
    <div class="text-center mt-2">
      <%= f.submit "送信", class: "btn btn-outline-light" %>
    </div>
  </div>
<% end %>