<div class="text-center mb-3">
  <%= image_tag "post.png" %>
</div>

<div class="row mt-3">
  <div class="col-lg-7">
    <div class="text-center mb-3">
      <div class="btn-group" role="group" aria-label="Basic example">
        <%= link_to "人気", posts_index_path(sort: "popular"), class: "btn btn-outline-light btn-lg" %>
        <%= link_to "最新", posts_index_path(sort: 'created_at DESC'), class: "btn btn-outline-light btn-lg" %>
      </div>
    </div>

    <div id="posts_index">
      <%= render "public/posts/index", posts: @posts %>
    </div>
    <div class="more text-center mb-3">
      <%= link_to_next_page @posts, 'もっと見る', remote: true, id: 'view_more', class: "btn btn-outline-light" %>
    </div>
    <div class="row">
      <div class="mx-auto">
        <%= paginate @posts, theme: 'twitter-bootstrap-4' %>
      </div>
    </div>

  </div>
  <div class="col-lg-4 offset-lg-1">
    <%= render "public/members/info" %>
    <%= render "public/boards/all_tag", tags: @tags %>
  </div>
</div>