<div class="box">
  <h4><%= @post.content %></h4>
  <% if @post.image.attached? %>
    <div class="text-center">
      <%= image_tag @post.image.variant(resize: "300").processed %>
    </div>
  <% end %>
  <p class="information"><%= link_to @post.member.name, member_path(@post.member_id) %></p>
  <%= render "public/favorites/favorite", obj: @board, post: @post %>
  <%= render "public/unlikes/unlike", obj: @board, post: @post %>
</div>