<div class="row mt-3">
  <div class="col-lg-7 mb-3">
    <div class="box">
      <%= render "public/boards/show", board: @post.board %>
      <%= render "public/posts/show", post: @post, board: @board %>
      <div class="d-flex mt-2">
        <div id="favorite_buttons_<%= @post.board.id %>_<%= @post.id %>" class="neko">
          <%= render "public/favorites/favorite", board: @board, post: @post %>
        </div>
        <div id="unlike_buttons_<%= @post.board.id %>_<%= @post.id %>">
          <%= render "public/unlikes/unlike", board: @board, post: @post %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 offset-lg-1">
    <%= render "public/members/info" %>
    <%= render "public/boards/all_tag", tags: @tags %>
  </div>
</div>

<%= render "public/favorites/party_btn" %>