<div class="box row">
  <div class="mx-auto">
    <%= form_with model:@member, url: admin_member_path(@member), method: :patch do |f| %>
      <div class="custom-control custom-radio">
        <%= f.label :is_deleted, '会員ステータス', class: "mr-3" %>
        <%= f.radio_button :is_deleted, false %> <%= f.label :is_active, "有効", class:"mr-3" %>
        <%= f.radio_button :is_deleted, true %> <%= f.label :is_active, "退会" %>
        <%= f.submit "ステータスを更新", class: "btn btn-success ml-3" %>
      </div>
    <% end %>
  </div>
</div>