<div class="box mb-3">
  <h3>お題：<%= link_to board.title, board_path(board) %></h3>
  <% if board.image.attached? %>
    <div class="text-center">
      <%= image_tag board.image.variant(resize: "400").processed %>
    </div>
  <% end %>
  <p class="infomation">お題出題者：<%= board.member.name %></p>
  <p class="infomation"><%= time_ago_in_words(board.created_at) %> 前に出題</p>
  <p class="infomation">閲覧数：<%= board.impressionist_count(:filter=>:session_hash) %></p>
  <% board.tag_list.each do |tag| %>
    <span class="badge badge-primary p-2"><%= tag %></span>
  <% end %>
</div>