<div class="mb-2">
  <h3 class="heading">お題：<%= link_to board.title, board_path(board), class: "link" %></h3>
  <% if board.image.attached? %>
    <div class="text-center my-3">
      <%= link_to board_path(board) do %>
        <%= image_tag board.image.variant(resize: "300").processed %>
      <% end %>
    </div>
  <% end %>

  <div class="mb-3">
    <span class="detail_tag">お題出題者：<%= link_to board.member.name, member_path(board.member) %></span>
    <span class="detail_tag"><%= time_ago_in_words(board.created_at) %>前に出題</span>
    <span class="detail_tag">投稿数：<%= board.posts.count %></span>
    <span class="detail_tag">閲覧数：<%= board.impressionist_count(:filter=>:session_hash) %></span>
  </div>
  <% board.tag_list.each do |tag| %>
    <span class="tag"><%= tag %></span>
  <% end %>
</div>