<div class="text-center mb-3">
  <%= image_tag "board.png" %>
</div>

<div class="button004 my-5">
  <%= link_to new_board_path do %>
    <h5>お題を投稿　<i class="fas fa-plus"></i></h5>
  <% end %>
</div>

<div class="row">
  <div class="col-lg-7">
    <div class="text-center mb-3">
      <div class="btn-group" role="group">
        <%= link_to "人気", boards_path(sort: "popular"), class: "btn btn-outline-light btn-lg" %>
        <%= link_to "注目", boards_path(sort: 'browsing'), class: "btn btn-outline-light btn-lg" %>
        <%= link_to "最新", boards_path(sort: 'created_at DESC'), class: "btn btn-outline-light btn-lg" %>
      </div>
    </div>
    <div id="boards_index">
      <%= render "public/boards/index", boards: @boards %>
    </div>
    <div class="more text-center mb-2">
      <%= link_to_next_page @boards, 'もっと見る', remote: true, id: 'view_more', class: "btn btn-outline-light" %>
    </div>
  </div>
  <div class="col-lg-4 offset-lg-1">
    <%= render "public/members/info" %>
    <%= render "all_tag", tags: @tags %>
  </div>
</div>