<div>
  <%= @board.title %>
  <% if @board.image.attached? %>
    <%= image_tag @board.get_image(50,70) %>
  <% end %>
</div>

<%= form_with model:[@board, @post] do |f| %>
  <div class="form-group">
    <%= f.text_area :content, rows:'4', class:"form-control" %><br>
    <%= f.file_field :image, accept: "image/*" %>
    <%= f.submit "送信", class: "btn btn-info" %>
  </div>
<% end %>

<% @board.posts.each do |post| %>
  <div>
    <%= link_to post.content, board_post_path(@board, post) %>
    <% if post.image.attached? %>
      <%= image_tag post.get_image(50,70) %>
    <% end %>

    <% if post.favorited_by?(current_member) %>
      <p>
        <%= link_to board_post_favorites_path(@board, post), method: :delete, style:"text-decoration:none;" do %>
          <i class="fas fa-paw" style="color:red;"></i><span style="color:red;"><%= post.favorites.count %></span>
        <% end %>
      </p>
    <% else %>
      <p>
        <%= link_to board_post_favorites_path(@board, post), method: :post, style:"text-decoration:none;" do %>
          <i class="fas fa-paw text-primary"></i><%= post.favorites.count %>
        <% end %>
      </p>
    <% end %>

  </div>
<% end %>
