<div class="row">
  <div class="col-lg-7">
    <div class="box mb-3">
      <%= render "public/boards/show", board: @board %>
    </div>
    <%= render 'layouts/errors', obj: @post %>
    <%= render "public/posts/form", board: @board, post: @post %>
    <% @board.posts.each do |post| %>
      <div class="box mb-3">
        <%= render "public/posts/show", post: post, board: @board %>
        <div class="d-flex mt-2">
          <%= render "public/favorites/favorite", obj: @board, post: post %>
          <%= render "public/unlikes/unlike", obj: @board, post: post %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-lg-4 offset-lg-1">
    <%= render "public/members/info" %>
    <%= render "public/boards/all_tag", tags: @tags %>
  </div>
</div>