<div class="row">
  <div class="col-lg-8">
    <%= render "show", board: @board %>
    <%= render "public/posts/form", board: @board, post: @post %>
    <% @board.posts.each do |post| %>
      <div class="box mb-3">
        <h4><%= link_to post.content, board_post_path(@board, post) %></h4>
        <% if post.image.attached? %>
          <div class="text-center">
            <%= image_tag post.image.variant(resize: "300").processed %>
          </div>
        <% end %>
        <span class="infomation">回答者：<%= post.member.name %></span>
        <%= render "public/favorites/favorite", obj: @board, post: post %>
      </div>
    <% end %>
  </div>
  <div class="col-lg-4">
    <%= render "all_tag", tags: @tags %>
  </div>
</div>