<div class="text-center mb-3">
  <%= image_tag "item.png" %>
</div>

<%= link_to "アイテム追加", new_admin_item_path, class: "btn btn-info" %>

<table class="table table-borderless table-hover table-light">
  <thead class="thead-light">
    <tr>
      <th>アイテムID</th>
      <th>アイテム名</th>
      <th>価格</th>
      <th>ジャンル</th>
      <th>経験値</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr onclick='window.location="<%= '/admin/items/' + item.id.to_s %>"' role="link">
        <td class="py-4" style="width: 10%">
          <%= item.id %>
        </td>
        <td class="py-4">
          <%= link_to item.name, admin_item_path(item), class:"text-dark" %>
        </td>
        <td class="py-4">
          <%= item.price %>
        </td>
        <td class="py-4">
          <%= item.genre.name %>
        </td>
        <td class="py-4">
          <%= item.having_exp %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>