<div class="text-center mb-3">
  <h3 class="page-title">アイテム登録</h3>
</div>
<%= render 'layouts/errors', obj: @item %>
<div class="text-center my-2"><%= link_to "アイテム一覧へ", admin_items_path, class: "btn btn-info btn-sm" %></div>
<div class="box">
  <p class="text-danger text-center"><i class="fa fa-exclamation-circle"></i>登録後は、画像・説明・ジャンルしか編集できません</p>
  <%= form_with model:@item, url: admin_items_path, method: :post do |f| %>
    <div class="form-group row">
      <%= f.label :アイテム画像, class: "col-3" %>
      <%= f.label :image, class: "image_input_btn" do %>
        <%= f.file_field :image, accept: "image/*", class: "image-form" %>画像を選択　<i class="fas fa-camera"></i>
      <% end %>
    </div>
    <div class="form-group row">
      <%= f.label :アイテム名, class: "col-3" %>
      <%= f.text_field :name, placeholder: "商品名", class:"col-8" %>
    </div>
    <div class="form-group row">
      <%= f.label :説明, class: "col-3" %>
      <%= f.text_area :introduction, placeholder: "ここに説明文を記述します", rows:"4", class:"col-8" %>
    </div>
    <div class="form-group row">
      <%= f.label :ジャンル, class: "col-3" %>
      <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name), { prompt: '選択してください' } %>
    </div>
    <div class="form-group row">
      <%= f.label :価格, class: "col-3" %>
      <%= f.text_field :price, placeholder: "10", class:"col-4" %> マネー
    </div>
    <div class="form-group row">
      <%= f.label :経験値, class: "col-3" %>
      <%= f.text_field :having_exp, placeholder: "10", class:"col-4" %>
    </div>
    <div class="form-group row mt-3">
      <div class="mx-auto">
        <%= f.submit "新規登録", class:"btn btn-outline-light btn-lg" %>
      </div>
    </div>
  <% end %>
</div>