<div class="text-center mb-3">
  <h3 class="page-title">アイテム詳細</h3>
</div>
<div class="text-center my-2"><%= link_to "アイテム一覧へ", admin_items_path, class: "btn btn-info btn-sm" %></div>
<div class="box-item-show row p-lg-5">
  <div class="col-md-4 text-center d-flex align-items-center">
    <span class="d-inline-block"><%= image_tag @item.image, class: "item-show-image py-5" %></span>
  </div>
  <table class="table table-borderless col-md-7 offset-md-1 text-white">
    <tbody>
      <tr>
        <td>アイテム名</td>
        <td><%= @item.name %></td>
      </tr>
      <tr>
        <td>説明</td>
        <td><%= @item.introduction %></td>
      </tr>
      <tr>
        <td>ジャンル</td>
        <td><%= @item.genre.name %></td>
      </tr>
      <tr>
        <td>価格</td>
        <td><%= @item.price %>マネー</td>
      </tr>
      <tr>
        <td>経験値</td>
        <td><%= @item.having_exp %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row mt-5">
  <%= link_to "編集する", edit_admin_item_path(@item), class: "btn btn-outline-light btn-lg mx-auto" %>
</div>