<div class="text-center mb-3">
  <%= image_tag "search.png" %>
</div>

<h3 class="heading d-inline-block">検索ワード「<%= @word %>」</h3>
<div class="text-center mb-5">
  <%= render "public/searches/search" %>
</div>

<div class="row">
  <div class="mx-auto">
  <ul class="nav mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active btn btn-outline-light btn-lg" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">仲間</a>
    </li>
    <li class="nav-item px-1">
      <a class="nav-link btn btn-outline-light btn-lg" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">お題</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-outline-light btn-lg" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">答え</a>
    </li>
  </ul>
  </div>
</div>

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <% if @members.any? %>
      <%= render "public/members/index", members: @members %>
      <div class="row">
        <div class="mx-auto">
          <%= paginate @members, theme: 'twitter-bootstrap-4' %>
        </div>
      </div>
    <% else %>
      検索結果0件
    <% end %>
  </div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
    <% if @boards.any? %>
      <% @boards.each do |board| %>
        <div class="box mb-3">
          <%= render "public/boards/show", board: board %>
        </div>
      <% end %>
      <div class="row">
        <div class="mx-auto">
          <%= paginate @boards, theme: 'twitter-bootstrap-4' %>
        </div>
      </div>
    <% else %>
      検索結果0件
    <% end %>
  </div>
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
    <% if @posts.any? %>
      <% @posts.each do |post| %>
        <div class="box mb-3">
          <%= render "public/boards/show", board: post.board %>
          <%= render "public/posts/show", board: post.board, post: post %>
          <div class="d-flex mt-2">
            <div id="favorite_buttons_<%= post.board.id %>_<%= post.id %>" class="neko">
              <%= render "public/favorites/favorite", board: post.board, post: post %>
            </div>
            <div id="unlike_buttons_<%= post.board.id %>_<%= post.id %>">
              <%= render "public/unlikes/unlike", board: post.board, post: post %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="mx-auto">
          <%= paginate @posts, theme: 'twitter-bootstrap-4' %>
        </div>
      </div>
    <% else %>
      検索結果0件
    <% end %>
  </div>
</div>

<%= render "public/favorites/party_btn" %>