<div class="text-center mb-4">
  <h3 class="page-title text-center"><%= @member.name %>さんの仲間</h3>
</div>
<div class="text-center my-2"><%= link_to "プロフィールへ", member_path(@member), class: "btn btn-info btn-sm" %></div>

<div class="text-center mb-3">
  <div class="btn-group" role="group">
    <%= link_to "フォロー中　#{@member.followings.count}", member_friends_path(sort: "following"), class: "btn btn-outline-light btn-lg" %>
    <%= link_to "フォロワー　#{@member.followers.count}", member_friends_path(sort: 'follower'), class: "btn btn-outline-light btn-lg" %>
  </div>
</div>

<% if @members.any? %>
  <%= render "public/members/index", members: @members %>
  <div class="row">
    <div class="mx-auto">
      <%= paginate @members, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
<% else %>
  <div class="text-center">
    <p><%= @message %>　<i class="fas fa-cat"></i></p>
  </div>
<% end %>