<div class="text-center mb-3">
  <h3 class="page-title">仲間たち</h3>
</div>

<div class="text-center mb-3">
  <div class="btn-group" role="group">
    <%= link_to(members_path(sort: "favorites"), class: "btn btn-outline-light btn-lg") do %>
      <i class="fas fa-paw"></i>数
    <% end %>
    <%= link_to "レベル", members_path(sort: 'level DESC'), class: "btn btn-outline-light btn-lg" %>
    <%= link_to "お金持ち", members_path(sort: 'money DESC'), class: "btn btn-outline-light btn-lg" %>
    <%= link_to "フォロワー数", members_path(sort: 'followers'), class: "btn btn-outline-light btn-lg" %>
  </div>
</div>

<div id="members_index">
  <%= render "public/members/index", members: @members %>
</div>
<div class="more text-center mb-3">
  <%= link_to_next_page @members, 'もっと見る', remote: true, id: 'view_more', class: "btn btn-outline-light" %>
</div>
<div class="row">
  <div class="mx-auto">
    <%= paginate @members, theme: 'twitter-bootstrap-4' %>
  </div>
</div>