<div class="text-center mb-2">
  <span class="mr-3 h5">全<i class="fas fa-paw favorite"></i>数：<%= @member.posts.inject(0) { |sum, post| sum + post.favorites.count } %></span>
  <span class="ml-3 h5">全<i class="fas fa-poo unlike"></i>数：<%= @member.posts.inject(0) { |sum, post| sum + post.unlikes.count } %></span>
</div>

<div class="text-center mb-3">
  <div class="btn-group" role="group">
    <%= link_to "人気", member_member_posts_path(sort: "popular"), class: "btn btn-outline-light btn-lg" %>
    <%= link_to "最新", member_member_posts_path(sort: 'created_at DESC'), class: "btn btn-outline-light btn-lg" %>
  </div>
</div>

<% @posts.each do |post| %>
  <div class="box mb-3">
    <%= render "public/boards/show", board: post.board %>
    <%= render "public/posts/show", board: post.board, post: post %>
    <div class="d-flex mt-2">
      <div id="favorite_buttons_<%= post.board.id %>_<%= post.id %>" class="neko">
        <%= render "public/favorites/favorite", board: post.board, post: post %>
      </div>
      <div id="unlike_buttons_<%= post.board.id %>_<%= post.id %>">
        <%= render "public/unlikes/unlike", board: post.board, post: post %>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="mx-auto">
    <%= paginate @posts, theme: 'twitter-bootstrap-4' %>
  </div>
</div>

<%= render "public/favorites/party_btn" %>