<% @favorites_post.each do |post| %>
  <div class="box">
    <h4>お題：<%= link_to post.board.title, board_path(post.board) %></h4>
    <% if post.board.image.attached? %>
      <%= image_tag post.board.image.variant(resize: "300").processed %>
    <% end %>
    <h4>答え：<%= link_to post.content, board_post_path(post.board, post) %></h4>
    <% if post.image.attached? %>
      <%= image_tag post.board.image.variant(resize: "300").processed %>
    <% end %>
    <p class="infomation">回答者：<%= link_to post.member.name, member_path(post.member) %></p>
    <%= render "public/favorites/favorite", obj: post.board, post: post %>
  </div>
<% end %>