<div class="px-lg-5">
  <div class="text-center mb-3">
    <%= image_tag "shopping.png" %>
  </div>

  <div class="text-center mb-2"><%= link_to "お店にもどる", items_path, class: "btn btn-info btn-sm" %></div>
  <% if @orders.any? %>
    <% @orders.each do |order| %>
      <div class="box mb-2 p-1">
        <span class="text-left small m-0"><%= order.created_at.strftime('%Y/%m/%d') %></span>
        <div class="row">
          <span class="col-2 offset-1"><%= image_tag order.item.image, size: "40x35" %></span>
          <span class="col-2 small"><%= order.item.name %></span>
          <span class="col-2 small"><%= order.item.price %>マネー</span>
          <span class="col-2 small"><%= order.item.having_exp %>EXP獲得</span>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="mx-auto">
        <%= paginate @orders, theme: 'twitter-bootstrap-4' %>
      </div>
    </div>
  <% else %>
    <div class="text-center">
      <p>まだお買い物をしていません　<i class="fas fa-cat"></i></p>
    </div>
  <% end %>
</div>