<div class="row">
  <div class="col-lg-8">
    <div class="box row">
      <div class="mx-auto col-lg-5 text-center">
        <%= image_tag @member.get_profile_image(300) %>
      </div>
      <table class="table table-borderless text-white col-lg-6 offset-lg-1">
        <tbody>
          <tr>
            <td>名前</td>
            <td><%= @member.name %></td>
          </tr>
          <tr>
            <td>レベル</td>
            <td>Lv.<%= @member.level %></td>
          </tr>
          <tr>
            <td>経験値</td>
            <td><%= @member.exp %>　EXP</td>
          </tr>
          <tr>
            <td>マネー</td>
            <td>
              <% if @member.money.to_i > 0 %>
                <%= @member.money %>　マネー
              <% else %>
                0　マネー
              <% end %>
            </td>
          </tr>
          <tr>
            <td>お題を投稿した数</td>
            <td><%= @member.boards.count %></td>
          </tr>
          <tr>
            <td>答えを投稿した数</td>
            <td><%= @member.posts.count %></td>
          </tr>
          <tr>
            <td>次のレベルまでの必要経験値</td>
            <td><%= @gap_exp %>　EXP</td>
          </tr>
        </tbody>
      </table>

      <% if @member != current_member %>
        <div class="mx-auto">
          <% if current_member.following?(@member) %>
            <%= link_to "フォロー外す", member_relationships_path(@member), method: :delete, class:"btn btn-info" %>
          <% else %>
            <%= link_to "フォローする", member_relationships_path(@member), method: :post, class:"btn btn-success" %>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>

  <div class="box col-lg-3 offset-lg-1 mt-5">
    <ul>
      <li><%= link_to "プロフィール編集", edit_member_path(current_member) %></li>
      <li><%= link_to "お買い物する", items_path %></li>
      <li><%= link_to "仲間たちをみる", href="#" %></li>
      <li><%= link_to "お気に入りをみる", href="#" %></li>
    </ul>
  </div>
</div>
