<div class="text-center mb-3">
  <%= image_tag "profile.png" %>
</div>

<div class="row">
  <div class="col-lg-8">
    <div class="box row">
      <%= render "public/members/show", member: @member, gap_exp: @gap_exp %>

      <% if (@member != current_member) && (current_member.name != "ゲスト") %>
        <div class="mx-auto">
          <%= render "public/relationships/relationship", member: @member %>
        </div>
        <div class="text-right">
          <%= link_to "ユーザーを通報", new_member_report_path(@member), class: "btn btn-danger btn-sm" %>
        </div>
      <% end %>

    </div>
  </div>

  <div class="col-lg-3 offset-lg-1 mt-5">
    <div class="box">
      <% if @member == current_member %>
        <p><i class="fas fa-caret-right"></i>　<%= link_to "プロフィール編集", edit_member_path(@member), class: "link" %></p>
      <% end %>
      <p><i class="fas fa-caret-right"></i>　<%= link_to "お買い物する", items_path, class: "link" %></p>
      <p><i class="fas fa-caret-right"></i>　<%= link_to "仲間たちをみる", member_friends_path(@member), class: "link" %></p>
      <p><i class="fas fa-caret-right"></i>　<%= link_to "お気に入りをみる", member_my_favorites_path(@member), class: "link" %></p>
    </div>
  </div>
</div>

