<div class="text-center mb-3">
  <%= image_tag "profile.png" %>
</div>

<div class="row">
  <div class="col-lg-8">
    <div class="box row">
      <%= render "public/members/show", member: @member, gap_exp: @gap_exp %>

      <% if (@member != current_member) && (current_member.name != "ゲスト") %>
        <div id="follow_<%= @member.id %>" class="mx-auto">
          <%= render "public/relationships/relationship", member: @member %>
        </div>
        <div class="text-right">
          <%= link_to "ユーザーを通報", new_member_report_path(@member), class: "btn btn-danger btn-sm" %>
        </div>
      <% end %>

    </div>
  </div>

  <div class="col-lg-3 offset-lg-1 mt-5">
    <div class="box">
      <% if (@member == current_member) && (current_member.name != "ゲスト") %>
        <p><i class="fas fa-caret-right"></i>　<%= link_to "プロフィール編集", edit_member_path(@member), class: "link" %></p>
      <% end %>
      <p><i class="fas fa-caret-right"></i>　<%= link_to "お買い物する", items_path, class: "link" %></p>
      <p><i class="fas fa-caret-right"></i>　<%= link_to "仲間たちをみる", member_friends_path(@member), class: "link" %></p>
      <p><i class="fas fa-caret-right"></i>　<%= link_to "お気に入りをみる", member_my_favorites_path(@member), class: "link" %></p>
      <p><i class="fas fa-caret-right"></i>　<%= link_to "#{@member.name}さんのお題", member_member_boards_path(@member), class: "link" %></p>
      <p><i class="fas fa-caret-right"></i>　<%= link_to "#{@member.name}さんの答え", member_member_posts_path(@member), class: "link" %></p>
      <% if current_member.name == "ゲスト" %>
        <div class="text-center">
          <p class="blink small">会員登録をして頂くと、投稿・買い物等ができるようになります</p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% if @member == current_member %>

  <% if @notifications.exists? %>
    <div>
      <% @notifications.each do |notification| %>
        <% visitor = notification.visitor %>
        <% post = notification.post %>

        <div class="user-view clearfix ">
          <%= link_to visitor.name, member_path(notification.visitor) %>
          <%= notification_form(notification) %><span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)} ago.)" %></span>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>通知はありません</p>
  <% end %>

<% end %>