<div class="text-center mb-4">
  <h3 class="page-title text-center"><%= @member.name %>さんの<br>プロフィール</h3>
</div>

<div class="row">
  <div class="col-lg-8 mb-5">
    <div class="box row">
      <%= render "public/members/show", member: @member, gap_exp: @gap_exp %>

      <% if (@member != current_member) && (current_member.name != "ゲスト") %>
        <div id="follow_<%= @member.id %>" class="mx-auto">
          <%= render "public/relationships/relationship", member: @member %>
        </div>
      <% end %>

    </div>
  </div>

  <div class="col-lg-3 offset-lg-1">
    <div class="box px-md-5">
      <% if (@member == current_member) && (current_member.name != "ゲスト") %>
        <p><i class="fas fa-caret-right"></i>　<%= link_to "プロフィール編集", edit_member_path(@member), class: "shrink" %></p>
        <p>
          <%= link_to member_notifications_path(@member), class: "shrink" do %>
            <i class="fas fa-caret-right"></i>　お知らせ　<% if unchecked_notifications.any? %><i class="fas fa-star" style="color: gold;"></i><% end %>
          <% end %>
        </p>
      <% end %>
      <p><i class="fas fa-caret-right"></i>　<%= link_to "お買い物", items_path, class: "shrink" %></p>
      <p><i class="fas fa-caret-right"></i>　<%= link_to "#{@member.name}さんの仲間たち", member_friends_path(@member), class: "shrink" %></p>
      <p><i class="fas fa-caret-right"></i>　<%= link_to "#{@member.name}さんのお気に入り", member_my_favorites_path(@member), class: "shrink" %></p>
      <p><i class="fas fa-caret-right"></i>　<%= link_to "#{@member.name}さんのお題", member_member_boards_path(@member), class: "shrink" %></p>
      <p><i class="fas fa-caret-right"></i>　<%= link_to "#{@member.name}さんの答え", member_member_posts_path(@member), class: "shrink" %></p>
      <% if current_member.name == "ゲスト" %>
        <div class="text-center">
          <p class="blink small">会員登録をして頂くと、投稿・買い物等ができるようになります</p>
        </div>
      <% end %>
    </div>
    <div class="row mt-5">
      <% if (@member != current_member) && (current_member.name != "ゲスト") %>
        <%= link_to "ユーザーを通報", new_member_report_path(@member), class: "btn btn-danger btn-sm mx-auto" %>
      <% else %>
        <%= link_to "投稿削除申請", new_member_report_path(@member), class: "btn btn-danger btn-sm mx-auto" %>
      <% end %>
    </div>
  </div>
</div>
