<div class="text-center mb-3">
  <%= image_tag "genre.png" %>
</div>

<%= render 'layouts/errors', obj: @genre %>
<div class="box mb-5">
  <%= form_with model:@genre, url: "/admin/genres", method: :post do |f| %>
    <div class="text-center">
      <div>
        <%= f.label :ジャンル名, class:"mr-2" %>
        <%= f.text_field :name, placeholder: "ジャンル名" %>
        <%= f.submit "新規登録", class:"btn btn-outline-light btn-lg" %>
      </div>
    </div>
  <% end %>
</div>

<table class="table table-light">
  <thead class="thead-light">
    <th>ジャンル名</th>
    <th>商品数</th>
    <th></th>
  </thead>
  <tbody>
    <% @genres.each do |genre| %>
      <tr>
        <td><%= genre.name %></td>
        <td><%= genre.items.count %></td>
        <td><%= link_to "編集する", edit_admin_genre_path(genre.id), class: "btn btn-secondary btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>