<div class="text-center my-2"><%= link_to "通報一覧へ", admin_reports_path, class: "btn btn-info btn-sm" %></div>
<div class="box mb-5">
  <table class="table table-borderless text-white">
    <tbody>
      <tr>
        <td>通報ID</td>
        <td><%= @report.id %></td>
      </tr>
      <tr>
        <td>会員名</td>
        <td><%= @report.reported.name %></td>
      </tr>
      <tr>
        <td>理由</td>
        <td><%= @report.reason %></td>
      </tr>
      <tr>
        <td>URL等</td>
        <td><%= @report.url %></td>
      </tr>
      <tr>
        <td>通報者</td>
        <td><%= @report.reporter.name %></td>
      </tr>
      <tr>
        <td>対応ステータス</td>
        <td>
          <% if @report.status_i18n == "対応待ち" %>
            <b class="text-danger"><%= @report.status_i18n %></b>
          <% elsif @report.status_i18n == "保留" %>
            <b class="text-primary"><%= @report.status_i18n %></b>
          <% else %>
            <b class="text-success"><%= @report.status_i18n %></b>
          <% end %>
          <%= form_with model:@report, url:admin_report_path(@report), method: :patch do |f| %>
            <%= f.select :status, Report.statuses.keys.map { |k| [t("enums.report.status.#{k}"), k] } %>
            <%= f.submit '更新', class: "btn btn-outline-light btn-sm ml-3" %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div id="error">
  <%= render 'layouts/errors', obj: @report_comment %>
</div>

<div id="comment-new">
  <%= render "admin/report_comments/form", report: @report, report_comment: @report_comment %>
</div>

<div id="comment-index">
  <%= render "admin/report_comments/comment_index", report_comments: @report_comments %>
</div>