<div class="box mb-5">
  <table class="table table-borderless text-white">
    <tbody>
      <tr>
        <td>通報ID</td>
        <td><%= @report.id %></td>
      </tr>
      <tr>
        <td>会員名</td>
        <td><%= @report.reported.name %></td>
      </tr>
      <tr>
        <td>理由</td>
        <td><%= @report.reason %></td>
      </tr>
      <tr>
        <td>URL等</td>
        <td><%= @report.url %></td>
      </tr>
      <tr>
        <td>通報者</td>
        <td><%= @report.reporter.name %></td>
      </tr>
      <tr>
        <td>対応ステータス</td>
        <td>
          <% if @report.status_i18n == "対応待ち" %>
            <b class="text-danger"><%= @report.status_i18n %></b>
          <% elsif @report.status_i18n == "保留" %>
            <b class="text-primary"><%= @report.status_i18n %></b>
          <% else %>
            <b class="text-success"><%= @report.status_i18n %></b>
          <% end %>
          <%= form_with model:@report, url:admin_report_path(@report), method: :patch do |f| %>
            <%= f.select :status, Report.statuses.keys.map { |k| [t("enums.report.status.#{k}"), k] } %>
            <%= f.submit '更新', class: "btn btn-success btn-sm ml-3" %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<%= form_with model:[@report, @report_comment], url: admin_report_report_comments_path(@report), method: :post do |f| %>
  <div class="form-group">
    <label>対応コメント</label>
    <%= f.text_area :comment, rows:'3', class:"form-control" %><br>
  </div>
  <div class="form-group row">
    <div class="mx-auto">
      <%= f.submit "コメントを保存", class:"btn btn-success" %>
    </div>
  </div>
<% end %>

<% @report_comments.each do |report_comment| %>
  <div class="box mb-2">
    <p class="information">
      <%= report_comment.created_at.strftime('%Y/%m/%d　%H:%M:%S') %>
    </p>
    <%= report_comment.comment %>
    <div class="text-right">
      <%= link_to "削除", admin_report_report_comment_path(report_comment.report, report_comment), data: { confirm: "コメントを削除しますか？" }, method: :delete, class: "btn btn-danger btn-sm" %>
    </div>
  </div>
<% end %>