<h3>通報</h3>
<%= render 'layouts/errors', obj: @report %>
<%= form_with model:[@member, @report] do |f| %>
  <div class="form-group">
    <label>理由</label><span class="attention ml-2">必須!</span>
    <%= f.text_area :reason, rows:'3', class:"form-control" %><br>
    <%= f.text_field :url, class:"form-control" %>
    <%= f.submit "通報する", class: "btn btn-danger" %>
  </div>
<% end %>