<div class="text-center mb-3">
  <% if (@member != current_member) %>
    <h3 class="page-title">通報</h3>
  <% else %>
    <h3 class="page-title">投稿削除申請</h3>
  <% end %>
</div>

<div class="text-center my-2"><%= link_to "プロフィールへ", member_path(@member), class: "btn btn-info btn-sm" %></div>
<%= render 'layouts/errors', obj: @report %>
<%= form_with model:[@member, @report] do |f| %>
  <div class="form-group">
    <label>理由</label><span class="attention ml-2">必須!</span>
    <%= f.text_area :reason, rows:'3', class:"form-control", placeholder: "200文字以内でお願いします。" %><br>
    <label>該当するお題や答えのURLや、補足情報をこちらにお願いします。</label>
    <%= f.text_field :url, class:"form-control" %>
    <div class="text-center mt-4">
      <% if (@member != current_member) %>
        <%= f.submit "通報する", class: "btn btn-danger", data: { confirm: "#{@member.name}さんを通報しますか？" } %>
      <% else %>
        <%= f.submit "申請する", class: "btn btn-danger", data: { confirm: "#{@member.name}さんを通報しますか？" } %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="text-left small">
  <p>※報告情報は管理者しか閲覧しません。</p>
  <p>※頂いた情報をもとに、管理者で対応を判断させて頂きます。対応報告等はございません。</p>
</div>