<div class="text-center mb-3">
  <%= image_tag "notification.png" %>
</div>

<div class="text-center mb-2"><%= link_to "プロフィールへ", member_path(current_member), class: "btn btn-info btn-sm" %></div>
<% if @notifications.any? %>
  <% @notifications.each do |notification| %>
    <% visitor = notification.visitor %>
    <div class="box mb-2">
      <%= image_tag notification.visitor.get_profile_image(35), class: "rounded-circle" %>
      <%= notification_form(notification) %>
      <div class="text-right">
        <span class="detail_tag"><%= time_ago_in_words(notification.created_at) %>前</span>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="mx-auto">
      <%= paginate @notifications, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
<% else %>
  <div class="text-center">
    <p><i class="fas fa-paw"></i>を押されたり、フォローされると通知がきます　<i class="fas fa-cat"></i></p>
  </div>
<% end %>