<% if current_member.name == "ゲスト" %>
  <h5 class="blink text-center"><i class="fa fa-exclamation-circle"></i>ゲストの方はお買い物できません</h5>
<% end %>

<div class="text-center">
  <div class="box shop my-3 d-inline-block pt-5 px-0">
    <%= image_tag "shop.png", size: "300x250" %>
    <div class="my-money text-center"><%= current_member.name %>さん<br><%= current_member.money.to_i %>　マネー</div>
  </div>
</div>

<div class="text-center">
  <div class="btn-group" role="group" aria-label="Basic example">
    <% @genres.each do |genre| %>
      <%= link_to genre.name, items_path(shop: genre.id), class: "btn btn-outline-light" %>
    <% end %>
  </div>
</div>

<div class="text-center my-2">
  <%= link_to "あなたのお買い物履歴", member_shoppings_path(current_member), class: "btn btn-outline-light btn-sm" %>
</div>

<!--<div class="d-inline-block">-->
  <div class="box">
    <% @items.each do |item| %>
      <%= link_to(item_path(item), class: "link") do %>
        <div class="row">
          <span class="col-md-3 offset-md-4 h5"><i class="fas fa-caret-left"></i>　<%= item.name %></span>
          <span class="col-md-3 h5"><%= "（#{item.price}　マネー）" %></span>
        </div>
      <% end %>
    <% end %>
  </div>
<!--</div>-->