<% if current_member.name == "ゲスト" %>
  <h5 class="blink text-center"><i class="fa fa-exclamation-circle"></i>ゲストの方はお買い物できません</h5>
<% end %>

<div class="text-center">
  <div class="box shop mb-3 d-inline-block pt-5">
    <%= image_tag "shop.png", size: "300x250" %>
    <div class="my-money text-center"><%= current_member.name %>さん<br><%= current_member.money.to_i %>　マネー</div>
  </div>
</div>

<div class="text-center">
  <div class="btn-group" role="group" aria-label="Basic example">
    <% @genres.each do |genre| %>
      <%= link_to genre.name, items_path(shop: genre.id), class: "btn btn-outline-light btn-lg" %>
    <% end %>
  </div>
</div>

<div class="text-center my-2">
  <%= link_to "あなたのお買い物履歴", member_shoppings_path(current_member), class: "btn btn-outline-light btn-sm" %>
</div>

<div class="box px-md-5">
  <table class="table table-borderless">
    <% @items.each do |item| %>
      <tr>
        <td>
          <%= link_to(item_path(item), class: "text-white") do %>
            <i class="fas fa-caret-left"></i>　<%= item.name %>
          <% end %>
        </td>
        <td>
          <span class="text-white"><%= item.price %>　マネー</span>
        </td>
      </tr>
    <% end %>
  </table>
</div>