<div class="box text-center shop mb-3">
  <%= image_tag "shop.png", size: "400x300" %>
  <div class="box my-money"><%= current_member.money.to_i %>　マネー</div>
</div>

<div class="text-center mb-3">
  <div class="btn-group" role="group" aria-label="Basic example">
    <% @genres.each do |genre| %>
      <%= link_to genre.name, items_path(shop: genre.id), class: "btn btn-outline-info btn-lg" %>
    <% end %>
  </div>
</div>

<div class="box px-md-5">
  <table class="table table-borderless">
    <% @items.each do |item| %>
      <tr>
        <td>
          <%= link_to(item_path(item), class: "text-white") do %>
            <i class="fas fa-caret-left"></i>　<%= item.name %>
          <% end %>
        </td>
        <td>
          <span class="text-white"><%= item.price %>　マネー</span>
        </td>
      </tr>
    <% end %>
  </table>
</div>