<div class="box text-center shop mb-3">
  <%= image_tag "shop.png", size: "400x300" %>
  <div class="box my-money"><%= current_member.money.to_i %>　マネー</div>
</div>


<div class="text-center mb-3">
  <div class="btn-group" role="group" aria-label="Basic example">
    <%= link_to "武器屋", items_path(genre: "武器屋"), class: "btn btn-outline-info btn-lg" %>
    <%= link_to "道具屋", items_path(genre: "道具屋"), class: "btn btn-outline-info btn-lg" %>
    <%= link_to "食堂", items_path(genre: "食堂"), class: "btn btn-outline-info btn-lg" %>
  </div>
</div>


<% @items.each do |item| %>
  <div>
    <%= link_to item.name, item_path(item) %>
  </div>
<% end %>
