<div class="box text-center shop mb-3">
  <%= image_tag "shop.png", size: "400x300" %>
  <div class="box my-money"><%= current_member.money.to_i %>　マネー</div>
</div>


<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "武器屋", items_path(genre: "武器屋"), class: "nav-link active" %>
  </li>
  <li class="nav-item">
    <%= link_to "道具屋", items_path(genre: "道具屋"), class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "食堂", items_path(genre: "食堂"), class: "nav-link" %>
  </li>
</ul>
<% @items.each do |item| %>
  <div>
    <%= link_to item.name, item_path(item) %>
  </div>
<% end %>
