<div class="text-right mb-2">
  <div class="box d-inline-block text-center">所持金<br><%= current_member.money.to_i %>　マネー</div>
</div>
<div class="text-center mb-2"><%= link_to "お店にもどる", items_path, class: "btn btn-info btn-sm" %></div>
<div class="box-item-show row p-lg-5">
  <div class="col-md-4 text-center">
    <%= image_tag @item.image, class: "not-link-image" %>
  </div>
  <table class="table table-borderless col-md-7 offset-md-1 text-white">
    <tbody>
      <tr>
        <td>アイテム名</td>
        <td><%= @item.name %></td>
      </tr>
      <tr>
        <td>アイテム説明</td>
        <td><%= @item.introduction %></td>
      </tr>
      <tr>
        <td>価格</td>
        <td><%= @item.price %>マネー</td>
      </tr>
    </tbody>
  </table>
  <div class="mx-auto mt-3">
    <%= form_with model:[@item, @order], url: item_orders_path(@item), method: :post do |f| %>
      <%= f.hidden_field :item_id, :value => @item.id %>
      <%= f.submit "購入する", class: 'btn btn-success', data: { confirm: "#{@item.name}を購入しますか？" } %>
    <% end %>
  </div>
</div>