<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <%= link_to root_path, class: "text-decoration-none mx-4" do %>
        <div class="h6 text-center text-white">ねこちゃん<br>大喜利<br>ものがたり</div>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
          <li class="nav-item gnavi-li">
            <%= link_to "ログイン", new_member_session_path, class: "nav-link text-white d-inline-block" %>
          </li>
          <li class="nav-item gnavi-li">
            <%= link_to "新規登録", new_member_registration_path, class: "nav-link text-white d-inline-block" %>
          </li>
          <li class="nav-item gnavi-li">
            <%= link_to "ゲストログイン", public_guest_sign_in_path, class: "nav-link text-white d-inline-block", method: :post %>
          </li>
          <li class="nav-item gnavi-li">
            <%= link_to "物語・遊び方", about_before_path, class: "nav-link text-white d-inline-block" %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>