<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <%= link_to root_path, class: "text-decoration-none mx-4" do %>
        <div class="h6 text-center text-white">ねこちゃん<br>大喜利<br>ものがたり</div>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center ">
          <li class="nav-item gnavi-li mx-2 row">
            <span class="mx-auto"><%= render "public/searches/search" %></span>
          </li>
          <li class="nav-item gnavi-li">
            <%= link_to "お題", boards_path, class: "nav-link text-white d-inline-block" %>
          </li>
          <li class="nav-item gnavi-li">
            <%= link_to "答え", posts_index_path, class: "nav-link text-white d-inline-block" %>
          </li>
          <li class="nav-item gnavi-li">
            <%= link_to "仲間", members_path, class: "nav-link text-white d-inline-block" %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle my-image text-white d-inline-block" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if unchecked_notifications.any? %>
                <i class="fas fa-star star"></i>
              <% end %>
              <%= image_tag current_member.get_profile_image, class: "rounded-circle member-mini-image mr-1" %><%= current_member.name %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to "マイページ", member_path(current_member), class: "dropdown-item" %></li>
              <% if current_member.name != "ゲスト" %>
                <li>
                  <%= link_to member_notifications_path(current_member), class: "dropdown-item" do %>
                    お知らせ　<% if unchecked_notifications.any? %><i class="fas fa-star" style="color: gold;"></i><% end %>
                  <% end %>
                </li>
              <% end %>
              <li><%= link_to "お気に入り", member_my_favorites_path(current_member), class: "dropdown-item" %></li>
              <li><%= link_to "お買い物", items_path, class: "dropdown-item" %></li>
              <div class="dropdown-divider"></div>
              <li><%= link_to "物語・遊び方", about_before_path, class: "dropdown-item" %></li>
              <li><%= link_to "ログアウト", destroy_member_session_path, class: "dropdown-item", method: :delete %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>