<header>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to "お題", boards_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "答え", href="#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "仲間", members_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_member.name %></a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to "マイページ", member_path(current_member), class: "dropdown-item" %></li>
              <li><%= link_to "お気に入り", member_path(current_member), class: "dropdown-item" %></li>
              <li><%= link_to "お買い物", items_path, class: "dropdown-item" %></li>
              <li><%= link_to "ログアウト", destroy_member_session_path, class: "dropdown-item", method: :delete %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>