<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <%= link_to root_path do %>
        <%= image_tag "header.png" %>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center ">
          <li class="nav-item gnavi-li">
            <%= render "public/searches/search" %>
          </li>
          <li class="nav-item gnavi-li">
            <%= link_to "お題", boards_path, class: "nav-link" %>
          </li>
          <li class="nav-item gnavi-li">
            <%= link_to "答え", posts_index_path, class: "nav-link" %>
          </li>
          <li class="nav-item gnavi-li">
            <%= link_to "仲間", members_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= image_tag current_member.get_profile_image(32), class: "rounded-circle" %><%= current_member.name %></a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to "マイページ", member_path(current_member), class: "dropdown-item" %></li>
              <li><%= link_to "お気に入り", member_my_favorites_path(current_member), class: "dropdown-item" %></li>
              <li><%= link_to "お買い物", items_path, class: "dropdown-item" %></li>
              <li><%= link_to "遊び方", about_path, class: "dropdown-item" %></li>
              <li><%= link_to "ログアウト", destroy_member_session_path, class: "dropdown-item", method: :delete %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>