<!DOCTYPE html>
<html>
  <head>
    <title>NecochanOgiriMonogatari</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="min-vh-100">
      <% if admin_signed_in? %>
        <%= render "layouts/admin_header" %>
      <% elsif member_signed_in? %>
        <%= render "layouts/member_header" %>
      <% else %>
        <%= render "layouts/header" %>
      <% end %>
      <main class="container py-5">
        <div id="flash-success">
          <%=render "layouts/notice" %>
        </div>
        <%= yield %>
        <span id="back">
          <%= link_to href="#" do %>
            <%= image_tag "scroll.png" %>
          <% end %>
        </span>
      </main>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>